@media(max-width:320px){
 body{
        overflow-x: hidden;
    }

.header-erea .pic{
    
    width:100%;
}
.header-top{
    display: none;
}
.header-bottom{
    border-bottom: none;
}
.sticky-header{ 
    display:grid;
    grid-template-rows: 4fr 3fr;
}
.Quote{
    display: none;
}
.lego{
    position: relative;
    right: 60%;
}
.middle-picture{
    flex-direction: column;
    align-items: center;
}
.largest-busines{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parag h3{
    font-size: 20px;
}
.parag p{
    font-size: 10px;
}
.parag ul{
    font-size: 10px;
}
.number{
    flex-direction: column;
    align-items: center;
}
.galery-colection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-3part{
    flex-direction: column;
    align-items: center;
}
.tatall-row{
    flex-direction: column;
    align-items: center;
}
.first-parag h3{
    font-size: 20px;
    text-align: center;
}
.first-parag p{
    font-size: 13px;
    text-align: center;
}
.row-footer-top{
    flex-direction: column;
    align-items: center;
}
.col-bottom p{
    font-size: 12px;
    text-align:center;
    transform: translate(-18%,1%);
}

}
@media(min-width:320px) and (max-width:768px){
    .navigation{
        display: block;
        font-size: 14px;
    }
    .Quote .key{
        display: none;
    }
    .middle-picture{
        justify-content: space-between;
    }
}
